{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="text-center">{{ entity.nombre ~ " " ~ entity.apellidos }}</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Tlf. Fijo</th>
                <td>{{ entity.tlfFijo }}</td>
            </tr>
            <tr>
                <th>Tlf. Móvil</th>
                <td>{{ entity.tlfMovil }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>F. Nacimiento</th>
                <td>{{ entity.nacimiento|date('d-m-Y') }}</td>
            </tr>
        </tbody>
    </table>

    <br>

    <div class="text-center">
        <a class="btn btn-primary" href="{{ path('contacto') }}">
            <i class="fa fa-reply"></i> Volver
        </a>
    </div>
{% endblock %}
